* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 40rem;
    align-items: center;
    background-color: #f9cb73;
    color: rgb(0, 0, 0);
    height: 6rem;
    padding:  0.2.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 62px;
}

ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.usuario {
    display: flex;
    flex-direction: column;
    line-height: 115%;
    align-items: center;
}

.pes {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.banner {
    width: 1950px;
    height: 400px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 15rem;
    background-color: #f9cb73;
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.pref {
    display: flex;
    justify-content: center;
    line-height: 10rem;
    font-size: 2rem;
}

ol {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

section {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin:5rem;

}
.duvidas {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

footer {
    display: flex;
    background-color: #f9cb73;
    justify-content: space-evenly;
    
}

.endereço {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
}


.redes {
    display: flex;
    line-height: 12rem;
}

.pagamentos {
    display: flex;
    line-height: 12rem;
    flex-direction: column;
}

img#cartoes {
    display: flex;
    position: relative;
    top: -4rem;
}

.promo {
    background-color: red;
    color: aliceblue;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

.carrinho {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
}

h1#car {
    display: flex;
    justify-content: center;
}

.modospag {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    top: -35rem;
    flex-direction: column;
    align-items: center;

}

.quemsomos {
    padding: 5rem;
}