* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    background-color: rgb(253, 194, 85);
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
}

.botao-pesquisa {
    border-radius: 6px;
}


#titulo {
    font-size: 50px;
    font-family: BRUSH SCRIPT MT;
}

#logo {
    display: flex;
    inline-size: 90px;
    border-radius: 50px;
}

.botao-compra {
    border-radius: 10px;
    width: 9rem;
    border: solid rgb(253, 194, 85) 3px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 150px;
}

.campo-preenchimento {
    border-radius: 10px;
}

.botao-login {
    border-radius: 5px;
}

#menu-pesquisa {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4.1rem;
}

.categorias {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.barra-pesquisa {
    display: flex;
    gap: 5px;
    padding: 7px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.banner-promocoes {
    width: 100%;
}

main {
    margin-bottom: 300px;
    #carrinho {
        height: 300px;
        width: 850px;
        position: relative;
        top: 100px;
        padding: 40px;
        border: solid 2px gainsboro;
        border-radius: 10px;
        margin: 50px;
        margin-bottom: 400px;
    }
    .titulo-carrinho {
        background-color: gainsboro;
        position: relative;
        top: 118px;
        text-align: center;
        padding: 35px;
    }
    .container-preco {
        border: solid 2px gainsboro;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 10px;
        position: relative;
        top: 45px;
        left: 649px;
        height: 50px;
        width: 160px;
        display: flex;
        align-items: center;
        padding: 20px;
        
    }
}

footer {
    display: flex;
    background-color: rgb(253, 194, 85);
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 3px;
    align-items: center;
}

.pagamentos {
    display: flex;
    flex-direction: column;
   gap: 2rem;
}

.endereço {
     display: flex;
    flex-direction: column;
   gap: 2rem;
}