* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    background-color: rgb(253, 194, 85);
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
}

.botao-pesquisa {
    border-radius: 6px;
}

#titulo {
    font-size: 50px;
}

#logo {
    display: flex;
    width: 90px;
}

.botao-compra {
    border-radius: 10px;
    width: 9rem;
    border: solid rgb(253, 194, 85) 3px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 150px;
}

.campo-preenchimento {
    border-radius: 10px;
}

.botao-login {
    border-radius: 5px;
}

#menu-pesquisa {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4.1rem;
}

.categorias {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.barra-pesquisa {
    display: flex;
    gap: 5px;
    padding: 7px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.banner-promocoes {
    width: 100%;
}

main {
    section {
        margin: 0 50px;
        padding:  30px;
        border: solid rgb(255, 255, 255) 1px;
        width: 450px;
        margin-left: auto;
        background: rgb(253, 194, 85);
    }
    .produto-quantidade{
        display: flex;
        justify-content: space-around;
    }
    .subtitulo {
        margin-bottom: 25px;
    }
    .titulo-carrinho {
        background: gainsboro;
        font-size: 40px;
        margin-top: 123px;
        padding: 50px 0;
        text-align: center;
        margin-bottom: 30px;
    }
    #pagamentos{
        
        display: flex;
        gap: 0.4rem;
    }
    #titular {
        
        display: flex;
        flex-direction: column;
        width: 295px;
        gap: 0.5rem;
    }
    .boto {
        display: flex;
        gap: 0.4rem;
    }
    .finalizar-compra {
        margin: 20px;
        position: relative;
        right: 20px;
        
    }
    .boto-finalizar {
        height: 2.5rem;
        width: 10rem;
        background: greenyellow;
        border-color: chartreuse;
    }
}

footer {
    display: flex;
    background-color: rgb(253, 194, 85);
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 10px;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 3px;
    align-items: center;
}

.pagamentos {
    display: flex;
    flex-direction: column;
   gap: 2rem;
}

.endereço {
     display: flex;
    flex-direction: column;
   gap: 2rem;
}