* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    inset-block-start: 0;
    position: fixed;
    inline-size: 100%;
    z-index: 5;
}

nav {
    display: flex;
    background-color: rgb(253, 194, 85);
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    height: 100px;
}

.botao-pesquisa {
    border-radius: 6px;
}


#titulo {
    position: relative;
    left: 65px;
    font-size: 50px;
    font-family: BRUSH SCRIPT MT;
}

#logo {
    display: flex;
    inline-size: 90px;
    border-radius: 50px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.campo-preenchimento {
    border-radius: 10px;
    inline-size: 200px;
}

button {
    display:flex;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 10px;
    block-size: 20px;
    inline-size: 120px;
}

.login{
    inline-size: 50px;
}

#menu-pesquisa {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4.1rem;
}

.categorias {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.barra-pesquisa {
    display: flex;
    gap: 5px;
    padding: 7px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.banner-promocoes {
    inline-size: 100%;
    block-size: 600px;
    padding-block-start: 109px;
}


.sub-titulo {
    z-index: 0;
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 40px;
    padding-block-end: 200px;
}

main {
    background-color: rgb(253, 228, 182);
    padding-bottom: 200px;
    section {
        display: flex;
        justify-content: center;
        background: rgb(253, 194, 85);
        border-radius: 10px;
        width: 1350px;
        padding: 30px;
        margin: 0 auto;
        gap: 2rem;
        text-align: center;
    }
    article {
        background: white;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px black;
    }
    article:hover {
        transform: scale(1.05);
        transition: .6s;
    }
    .descricao-produto {
        line-height: 1.8rem;
    }
    .preco {
        color: #ff0000;
        font-size: 20px;
        font-weight: bold;
    }
    .comprar {
        background: greenyellow;
        cursor: pointer;
        transition: background-color 0.3s ease;
        height: 45px;
        width: 180px;
        border: white;
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin: 10px;
    }
    .comprar:active{
        background-color: #ffffff;
        color: greenyellow;
    }
    .slider {
        margin: 0 auto;
        width: 1835px;
        height: 600px;
        overflow: hidden;
    }
    .slides {
        width: 400%;
        height: 600px;
        display: flex;
    }
    .slides input {
        display: none;
    }
    .slide {
        width: 25%;
        position: relative;
        transition: 2s;
    }
    .slide img {
        width: 1920px;
    }
    .manual-navigation {
        position: absolute;
        width: 1835px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:hover {
        background-color: white;
    }
    #radio1:checked ~.first {
        margin-left: 0;
    }
    #radio2:checked ~.first {
        margin-left: -25%;
    }
    #radio3:checked ~.first {
        margin-left: -50%;
    }
    .navigation-auto div{
        border: 2px solid blue;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto {
        position: absolute;
        width: 1835px;
        margin-top: 560px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 40px;

    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: white;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: white;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: white;
    }
}

footer {
    display: flex;
    background-color: rgb(253, 194, 85);
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 100px;
}

form {
    display: flex;
    flex-direction: column;
    inline-size: 150px;
    gap: 3px;
    align-items: center;
}

.pagamentos {
    display: flex;
    flex-direction: column;
   gap: 2rem;
}

.endereço {
     display: flex;
    flex-direction: column;
   gap: 2rem;
}


required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    inline-size: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }

  .redes{
    margin-bottom: 2rem;
  }