/* CSS da Página */

.conteiner-form {
    margin-top: -30px;
    text-align: center;
    background-color: rgb(253, 194, 85);
    width: 366px;    
    height: 510px;
    box-shadow: 5px 5px 10px #650303;
    border-radius: 30px;    
    margin-bottom: 3rem;
    max-height: 850px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.cadastro {
    display: inline-block;
    text-align: left;
    border-radius: 6px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.success-message {
    color: green;
    margin-top: 5px;
}

.campo{
    border-radius: 5px;
    width: 120px;
}
.cadastrar{
    text-shadow: 1px 1px 0px #888888;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}
.bot-concluir{
    margin-left: 80px;
    margin-bottom: 2rem;

   
}
.sub-titulo {
    padding: 100px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 200px;
}

main {
    background-color: rgb(255, 255, 255);
}




.cadastrar{
margin-left: auto;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}


.pagamentos {
    display: flex;
    flex-direction: column;
   gap: 2rem;
}

.endereço {
     display: flex;
    flex-direction: column;
   gap: 2rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#imgcad {    
    margin-right: 10%;
    width: 1300px;
    padding-top: 125px;
    block-size: 635px;
    border-radius: 40px;    
    position: absolute;
    left: 0;
    top: 0;   
    
}


header {
    inset-block-start: 0;
    position: fixed;
    inline-size: 100%;
    z-index: 5;

}

nav {
    display: flex;
    background-color: rgb(253, 194, 85);
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
}

.botao-pesquisa {
    border-radius: 6px;
}


#titulo {
    font-size: 50px;
    font-family: BRUSH SCRIPT MT;
}

#logo {
    display: flex;
    inline-size: 90px;
    border-radius: 50px;
}

.botao-compra {
    border-radius: 10px;
    inline-size: 9rem;
    border: solid rgb(253, 194, 85) 3px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.campo-preenchimento {
    border-radius: 10px;
    inline-size: 200px;
    
}

button {
    display:flex;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 10px;
    block-size: 20px;
    inline-size: 120px;
}
.login{
    inline-size: 50px;
}

#menu-pesquisa {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4.1rem;
}

.categorias {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.barra-pesquisa {
    display: flex;
    gap: 5px;
    padding: 7px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.banner-promocoes {
    inline-size: 100%;
    block-size: 600px;
    padding-block-start: 109px;
}


.sub-titulo {
    padding: 100px;
    text-align: center;
    font-size: 40px;
    padding-block-end: 200px;
}


.produtos-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.produtos-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block-start: -80px;
    font-weight: bold;
}

.nome-preço {
    text-align: center;
    margin-block-end: 250px;
    padding: 10px;
    line-height: 35px;
}

main {
    background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    float: inline-end;
    background-color: rgb(253, 194, 85);
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 80px;
    height: 350px;
    width:100%;
}

form {
    display: flex;
    flex-direction: column;
    inline-size: 150px;
    gap: 3px;
    align-items: center;
}

.pagamentos {
    display: flex;
    flex-direction: column;
   gap: 2rem;
}

.endereço {
     display: flex;
    flex-direction: column;
   gap: 2rem;
}


required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }

  .redes{
    margin-bottom: 2rem;
  }