* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    inset-block-start: 0;
    position: fixed;
    inline-size: 100%;
}

nav {
    display: flex;
    background-color: rgb(253, 194, 85);
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
}

.botao-pesquisa {
    border-radius: 6px;
}

#titulo {
    font-size: 50px;
    font-family: BRUSH SCRIPT MT;
}

#logo {
    display: flex;
    inline-size: 90px;
    border-radius: 50px;
}

.botao-compra {
    border-radius: 10px;
    inline-size: 9rem;
    border: solid rgb(253, 194, 85) 3px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    inline-size: 150px;
}

.campo-preenchimento {
    border-radius: 10px;
}

.botao-login {
    border-radius: 5px;
}

#menu-pesquisa {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4.1rem;
}

.categorias {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.barra-pesquisa {
    display: flex;
    gap: 5px;
    padding: 7px;
}

.banner-promocoes {
    inline-size: 100%;
    block-size: 600px;
    padding-block-start: 109px;
}


a {
    color: aliceblue;
    text-decoration: none;
}


.sub-titulo {
    
    text-align: center;
    font-size: 40px;
    margin-block-start: 50px;
    line-height: 70px;
}

.quemsomos {
    display: flex;
    text-align: center;
    margin-block-end: 100px;
    text-align:center;
    align-items: center;
    margin-inline: 100px;
}

main {
    background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    background-color: rgb(253, 194, 85);
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 100px;
    
}

form {
    display: flex;
    flex-direction: column;
    inline-size: 150px;
    gap: 3px;
    align-items: center;
}

.pagamentos {
    display: flex;
    flex-direction: column;
   gap: 2rem;
}

.endereço {
     display: flex;
    flex-direction: column;
    gap: 2rem;
}

.redes{
    margin-bottom: 2rem;
  }